<div class="container-fluid mt-4">
    <div class="row">
        <div class="col-md-12 table-responsive">
            <h2 class="text-center">Add new Purchase Order</h2>
            <table id="newquotation" style="border: 2px solid black;" class="text-center table table-striped table-hover">
                <tr>
                    <td>Purchase Order ID</td>
                    <td><input class="form-control" type="text" ng-model="purchaseorderid" id="purchaseorderid" placeholder="Enter Purchase Order ID" /></td>
                </tr>
                <tr>
                    <td>Counterparty Name</td>
                    <td><select ng-model="counterpartyname" class="form-control" name="ctrpty" id="counterpartyname">
                        <option selected disabled>-- Select Counterparty Name --</option>
                        <option ng-repeat="x in allCounterParties" ng-value="{{x.id}}">{{x.name}} - {{x.email}}</option>
                    </select></td>
                </tr>
                <tr>
                    <td>Entry Date</td>
                    <td><input ng-model="entrydate" class="form-control" type="date" disabled ng-model="entrydate" /></td>
                </tr>
                <tr>
                    <td colspan="2">
                        <table class="table table-hover">
                            <thead>
                                <tr>
                                    <th>Material</th>
                                    <th>Make</th>
                                    <th>Quantity</th>
                                    <th>unit</th>
                                    <th>Cat Id</th>
                                    <th>Rate</th>
                                    <th>Per</th>
                                    <th>Disc.</th>
                                    <th>HSN Code</th>
                                    <th>GST</th>
                                    <th>&nbsp;</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td><select ng-model="materialName">
                                        <option  ng-repeat="x in allMaterials" ng-value="{{x.id}}">{{x.name}}</option>
                                    </select></td>
                                    <td><select ng-model="makeName">
                                        <option ng-repeat="x in allMakes" ng-value="{{x.id}}">{{x.name}}</option>
                                    </select></td>
                                    <td><input ng-model="numitems" type="number" class="form-control" /></td>
                                    <td><select ng-model="quantity">
                                        <option ng-repeat="x in allQuantities" ng-value="{{x.id}}">{{x.name}}({{x.abbreviation}})</option>
                                    </select></td>
                                    <td><input ng-model="catid" type="text" class="form-control" placeholder="Cat ID" /></td>
                                    <td><input ng-model="rate" type="number" class="form-control" placeholder="Rate" /></td>
                                    <td><input ng-model="per" type="text" class="form-control" placeholder="Per" /></td>
                                    <td><input ng-model="disc" type="text" class="form-control" placeholder="Discount" /></td>
                                    <td><input ng-model="hsncode" type="text" class="form-control" placeholder="HSN Code"/></td>
                                    <td><input ng-model="gst" type="text" class="form-control" placeholder="GST" /></td>
                                    <td><button type="button" class="btn btn-primary btn-sm" ng-click="addRow()">Add Row</button> </td>
                                </tr>
                            </tbody>
                        </table>
                    </td>
                </tr>
                <tr>
                    <td colspan="2">
                        <table class="table table-hover table-striped">
                            <thead>
                                <tr>
                                    <th>#</th>
                                    <th>Material</th>
                                    <th>Make</th>
                                    <th>Quantity</th>
                                    <th>unit</th>
                                    <th>Cat Id</th>
                                    <th>Rate</th>
                                    <th>Per</th>
                                    <th>Disc.</th>
                                    <th>HSN Code</th>
                                    <th>GST</th>
                                    <th>&nbsp;</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr ng-repeat="order in temporaryOrders">
                                    <td>{{$index + 1}}</td>
                                    <td>{{order.material.id}}</td>
                                    <td>{{order.make.id}}</td>
                                    <td>{{order.numitems}}</td>
                                    <td>{{order.quantity.id}}</td>
                                    <td>{{order.catid}}</td>
                                    <td>{{order.rate}}</td>
                                    <td>{{order.per}}</td>
                                    <td>{{order.disc}}</td>
                                    <td>{{order.hsncode}}</td>
                                    <td>{{order.gst}}</td>
                                    <td><input type="checkbox" ng-model="order.Remove"/></td>
                                </tr>
                                <tr>
                                    <td colspan="12"><button class="btn btn-primary btn-md" ng-click="removeSelectedRows()">Remove</button></td>
                                </tr>
                            </tbody>
                        </table>
                    </td>
                </tr>
                <tr>
                    <td class="text-center"><button ng-click="displayData()" type="button" class="btn btn-md btn-primary">Submit</button></td>
                    <td class="text-center"><button type="button" class="btn btn-md btn-danger">Reset</button></td>
                </tr>
            </table>
        </div>
    </div>
</div>